@import 'src/styles/_theme.scss';

.register {
  &.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 850px;
    height: 100%;
    max-width: 85%
  }
  &.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    width: 300px;
    padding: 100px 0 100px 0;
    margin-right: 50px;
    &.button-container
    {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-height: 75px;
      padding: 0;
    }
  }
  &.graphics {
    padding-right: 75px;
    height: 100%;
    width: 400px;
    background: linear-gradient(to left, $black 50%, transparentize($white, 1) 0%);
    &.logo {
      height: 100%;
      width: 100%;
      padding: 0 0 0 17px;
      margin: auto;
      object-fit: contain;
    }
  }
}