/* Theme Colors */

$accent: #F3D388;
$red: #EC635E;
$white: #F7F7EF;
$grey: #D5DDDC;
$black: #181C1F;
$background: #262632;
$accentDark: #123597;
$textColor: white;
$background-image: url("/styles/assets/background.png");

/* some constants */
$DESKTOP_WIDTH: 1160px;
$SMALL_LAPTOPS_WIDTH: 970px;
$TABLETS_WIDTH: 750px;
$SMALL_WIDTH: 768px;
$BASE_BOX_WIDTH: 1100px;
$BASE_BOX_HEIGHT: 600px;

/* some standard elements */
/* fonts */
$fontDefault: "Roboto", sans-serif;
// $fontDefault: "M PLUS Rounded 1c", sans-serif;
$fontMono: "Roboto Mono", monospace;

/* a standard drop shadow */
$dropShadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25);

$borderRadius: 0.6em;

/* mixins
  these allow you to create small snippets that you can insert with a one-liner in other stylesheets
  for an example, see styles/views/Login.scss
*/
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin card {
  background-color: $white;
  border-radius: 2.5em;
  box-shadow: 1em 1em 2.5em #00000077;
  display: flex;
}